<div class="container">
	<div class="page-header">
		<center><h1>ABM - PHP - Angular</h1></center>     
	</div>	  	 
		           
	<div class="CajaInicio animated bounceInRight">
		<h1>PERSONAS</h1>
					
		<form id="FormIngreso">

			<!-- Hace referencia a las funciones $scope -->
			<input type="button" value="ALTA PERSONA" ng-click="ir_alta()" class="list-group-item  list-group-item list-group-item-info"><h4 class="list-group-item-heading">Alta de persona</h4></input>
										
			<input type="button" value="GRILLA DE PERSONAS" ng-click="ir_grilla()" class="list-group-item  list-group-item list-group-item-info"><h4 class="list-group-item-heading">Grilla de personas</h4></a>

			<!-- Hace referencia a los States -->
			<a ui-sref="persona.alta()" class="list-group-item  list-group-item list-group-item-info"><h4 class="list-group-item-heading">Alta de persona</h4></a>
										
			<a ui-sref="persona.grilla()" class="list-group-item  list-group-item list-group-item-info"><h4 class="list-group-item-heading">Grilla de personas</h4></a>

		</form>
	</div>
</div>